---
layout: post
title:  "Auto-Lift Bed"
date:   2013-08-19
categories: projects
tags:
- design
- construction
- mechanics
- CAD
- solidworks
---

<p>When I first moved to Georgia Tech, I was living in a very small 1BR/1BA apartment. After being there for a while, I decided to make a bed that could fold completely out of the way. It is totally freestanding and holds a queen sized mattress. It takes a little bit of strength to lift up, but not much.</p>
<p>All of the design work can be found on <a href=https://grabcad.com/library/loft-bed-2>GrabCad</a>. Do note that I did make some minor design changes as I went during fabrication and never did put those back into the models.</p>

{% include iframe.html src="https://www.youtube.com/embed/b0nCnXNGmBg" width=100 ratio=56.25 %}
<br/>
{% include iframe.html src="https://www.youtube.com/embed/dAQi21dUNiY" width=100 ratio=56.25 %}
