{% comment %}

{::nomarkdown}
{% include flickr.html 
    src="https://www.flickr.com/photos/138686863@N06/albums/72157671679417635" 
    title="first 3d prints" 
    img="https://c8.staticflickr.com/9/8748/27995772103_0efee1368a_c.jpg" 
    width=600 
    height=800 
    %} 
{:/nomarkdown}

{% endcomment %}

<style media="screen" type="text/css">

.flBox{{include.ratio|stripNonNum}}{{include.width|stripNonNum}}{
    position: relative;
    max-width: {{include.width|stripNonNum}}px;     /* desired width */
    margin: auto;
}
.flBox{{include.ratio|stripNonNum}}{{include.width|stripNonNum}}:before{
    content: "";
    display: block;
    padding-top: {{include.height | times: 100 | divided_by: include.width}}% /* account for the little button bar */
}

</style>

<div class='flBox{{include.ratio|stripNonNum}}{{include.width|stripNonNum}}'> 
    <div class='mediaContent'>  
        <a data-flickr-embed="true"  href="{{include.src | remove: '"' | remove: "'"}}" title="{{include.title | remove: '"' | remove: "'"}}">
            <img src="{{include.img | remove: '"' | remove: "'"}}" width=100% height=100% alt="{{include.title | remove: '"' | remove: "'"}}" />
        </a>
        <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>  
    </div> 
</div>
<br>