
<style media="screen" type="text/css">

.ifBox{{include.ratio|stripNonNum}}{{include.width|stripNonNum}}{
    position: relative;
    width: {{include.width|stripNonNum}}%;     /* desired width */
    margin: auto;
}
.ifBox{{include.ratio|stripNonNum}}{{include.width|stripNonNum}}:before{
    content: "";
    display: block;
    padding-top: {{include.ratio}}%/* account for the little button bar */
}

</style>

<div class='ifBox{{include.ratio|stripNonNum}}{{include.width|stripNonNum}}'> <div class='mediaContent'>    <iframe class='mediaContent' width='100%' height='100%' src={{include.src}} frameborder='0' allowfullscreen></iframe></div> </div>
